{{! viewing card for a single book }}

<div class="container">

  <div class="card border-blue">
    <div class="card-header embolden">
      {{selectedBook.title}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Author:
        {{selectedBook.author}}
      </li>
      <li class="list-group-item">
        Publication Date:
        {{selectedBook.publication_year}}
      </li>
      <li class="list-group-item">
        Genre:
        {{selectedBook.genre.genre_title}}
      </li>
      <li class="list-group-item">
        Date shared to Book Nest:
        <span class="normal-weight">
          {{format_date selectedBook.date_shared}}
        </span>
      </li>
      <li class="list-group-item">
        Shared by:
        <span class="normal-weight">
          {{selectedBook.user.username}}
        </span>
      </li>
    </ul>
  </div>

</div>