{{! viewing card for a single book }}
{{! this is coming from home routes: show book by id }}

<div class="container">
  <div class="row my-4 d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-6 my-1">
      <div
        class="card h-100 w-100 custom-card-border"
        id="selected-book"
        data-id="{{selectedBook.id}}"
      >
        <div class="card-header book-link">
          <h4 class="really-embolden">
            <i class="bi bi-book-fill icon-green"></i>
            {{selectedBook.title}}
          </h4>
        </div>
        <ul class="list-group list-group-flush embolden li-large">
          <li class="list-group-item">
            Written by:
            <span class="normal-weight">
              {{selectedBook.author}}
            </span>
          </li>
          <li class="list-group-item">
            Published in:
            <span class="normal-weight">
              {{selectedBook.publication_year}}
            </span>
          </li>
          <li class="list-group-item">
            Genre:
            <span class="normal-weight">
              {{selectedBook.genre.genre_title}}
            </span>
          </li>
          <li class="list-group-item pb-4">
            Synopsis:
            <p class="normal-weight italicised preserve-whitespace">
              {{selectedBook.synopsis}}
            </p>
          </li>
          <li class="list-group-item tiny-text">
            <span class="normal-weight">Added to Book Nest on</span>
            {{format_date selectedBook.date_shared}}<span
              class="normal-weight"
            >, courtesy of </span>
            {{selectedBook.user.username}}
          </li>
        </ul>

        {{! only show the add to and remove from reading list buttons if the user is logged in }}
        {{#if loggedIn}}
          <div class="mx-3">
            <button
              id="add-to-reading-list"
              class="btn btn-custom btn-block mt-3 mb-1 w-100"
            >Add to Reading List</button>

            <button
              id="remove-from-reading-list"
              class="btn btn-custom btn-block mt-3 mb-3 w-100"
            >Remove from Reading List</button>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<script src="/js/readingList.js"></script>