<div class="container transparent-white">
  <div class="row d-flex justify-content-center mt-5 py-2">
    <div class="col-12 col-md-8 col-lg-5">
      <h3>Find a book</h3>
      <p>Search for a word or words in a book's title</p>
      <form action="/find-book" method="get">
        <input class="mt-2 w-100" type="input" name="title" />
        <button class="btn btn-custom btn-block my-3 w-100">Find a Book</button>
      </form>

      {{! load specific messages depending on if first viewing page or doing a search }}
      {{#if queryTitleFlag}}
        {{#if payloadFlag}}
          <h4>Books that match your search:</h4>
          <p>Click on a book to see its details.</p>
        {{else}}
          <h5>Sorry, no results found!</h5>
        {{/if}}
      {{else}}
        {{! leave as empty space }}
      {{/if}}
    </div>
  </div>

  <div class="row mx-5 mt-3 justify-content-md-center">
    {{#each books as |book|}}
      {{! for each card, present it using this bootstrap card format }}
      <div class="col-12 col-md-4 col-lg-3 mb-3">
        <a href="/books/{{book.id}}" class="book-link">
          <div class="card h-100 w-100 custom-card-border">
            <div class="card-header">
              <h5>
                <i class="bi bi-book icon-purple"></i>
                {{book.title}}
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Author:
                <span class="normal-weight">
                  {{book.author}}
                </span>
              </li>
              <li class="list-group-item">
                Genre:
                <span class="normal-weight">
                  {{book.genre.genre_title}}
                </span>
              </li>
            </ul>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>