<div class="container">

  <div class="row mx-5">
    <div class="col-12">
      <h2>Books on your Reading List</h2>
    </div>
  </div>

  <div class="row mx-5">
    {{#each readingListBooks as |rlbook|}}

      {{! for each card, present it using this bootstrap card format }}
      <div class="col-12 col-md-4 col-lg-3 my-3">
        <a href="/books/{{rlbook.book.id}}" class="book-link">
          <div class="card h-100 w-100 custom-card-border">
            <div class="card-header">
              <h5>
                {{rlbook.book.title}}
                <i class="bi bi-book"></i>
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Author:
                <span class="normal-weight">
                  {{rlbook.book.author}}
                </span>
              </li>
              <li class="list-group-item">
                Publication Date:
                <span class="normal-weight">
                  {{rlbook.book.publication_year}}
                </span>
              </li>
              <li class="list-group-item">
                Genre:
                <span class="normal-weight">
                  {{rlbook.book.genre.genre_title}}
                </span>
              </li>
              <li class="list-group-item">
                Date shared to Book Nest:
                <span class="normal-weight">
                  {{format_date rlbook.book.date_shared}}
                </span>
              </li>
              <li class="list-group-item">
                Shared by:
                <span class="normal-weight">
                  {{rlbook.book.user.username}}
                </span>
              </li>
            </ul>
          </div>
        </a>
      </div>

    {{/each}}
  </div>
</div>

<div class="container">

  <div class="row mx-5">
    <div class="col-12">
      <h2 class="my-3">
        Your Shared Books
      </h2>
      <p>Look at all the books you have added to our library!</p>
    </div>
  </div>

  {{! add shared books here }}

  <div class="row mx-5">
    {{#if sharedBooks}}
      {{#each sharedBooks as |book|}}

        {{! for each card, present it using this bootstrap card format }}
        <div class="col-12 col-md-4 col-lg-3 my-3">
          <a href="/books/{{book.id}}" class="book-link">
            <div class="card h-100 w-100 custom-card-border">
              <div class="card-header">
                <h5>
                  {{book.title}}
                  <i class="bi bi-book"></i>
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Author:
                  <span class="normal-weight">
                    {{book.author}}
                  </span>
                </li>
                <li class="list-group-item">
                  Publication Date:
                  <span class="normal-weight">
                    {{book.publication_year}}
                  </span>
                </li>
                <li class="list-group-item">
                  Genre:
                  <span class="normal-weight">
                    {{book.genre.genre_title}}
                  </span>
                </li>
                <li class="list-group-item">
                  Date shared to Book Nest:
                  <span class="normal-weight">
                    {{format_date book.date_shared}}
                  </span>
                </li>
                <li class="list-group-item">
                  Shared by:
                  <span class="normal-weight">
                    {{book.user.username}}
                  </span>
                </li>
              </ul>
            </div>
          </a>
        </div>

      {{/each}}
    {{else}}
      <div class="col">
        <p>oops nothing here</p>
      </div>
    {{/if}}

  </div>

  <div class="row mt-3 mb-1 align-items-center">
    <div class="col-auto">
      <a
        type="button"
        class="btn btn-custom btn-outline-primary btn-block mt-3 mb-1 w-100"
        href="/share-book"
      >Share a new book to Book Nest</a>
    </div>
  </div>
</div>

{{! below currently not in use }}
{{! <script src="/js/profile.js"></script> }}