<div class="container">
  <div class="row mx-5 my-2">
    <div class="col-12 my-3">
      <h2 class="mb-3 green-text really-embolden">Welcome back,
        {{username}}!</h2>
      <p>What would you like to do today?</p>
    </div>
  </div>

  <div class="row mx-5">
    <div class="col-12">
      <h3>My Reading List</h3>
    </div>
  </div>
  <div class="row mx-5">
    {{#if readingListBooks}}
      {{#each readingListBooks as |rlbook|}}

        {{! for each card, present it using this bootstrap card format }}
        <div class="col-12 col-md-4 col-lg-3 my-3">
          <a href="/books/{{rlbook.book.id}}" class="book-link">
            <div class="card h-100 w-100 custom-card-border">
              <div class="card-header">
                <h5>
                  <i class="bi bi-book-fill icon-green"></i>
                  {{rlbook.book.title}}
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Author:
                  <span class="normal-weight">
                    {{rlbook.book.author}}
                  </span>
                </li>
                <li class="list-group-item">
                  Publication Date:
                  <span class="normal-weight">
                    {{rlbook.book.publication_year}}
                  </span>
                </li>
                <li class="list-group-item">
                  Genre:
                  <span class="normal-weight">
                    {{rlbook.book.genre.genre_title}}
                  </span>
                </li>
                <li class="list-group-item tiny-text">
                  <span class="normal-weight">Added by</span>
                  {{rlbook.book.user.username}}
                  <span class="normal-weight"> on </span>
                  {{format_date rlbook.book.date_shared}}
                </li>
              </ul>
            </div>
          </a>
        </div>
      {{/each}}
    {{else}}
      <div class="col-12 col-md-auto transparent-white">
        <p class="mt-2">Nothing on my reading list for now.</p>
        <p class="mt-4"><a href="/view-books" class="btn btn-custom">Check out
            some books?</a></p>
      </div>
    {{/if}}
  </div>
</div>

<div class="container">

  <div class="row mx-5">
    <div class="col-12">
      <h3 class="my-3">
        My Shared Books
      </h3>
    </div>
  </div>

  <div class="row mx-5">
    {{#if sharedBooks}}
      <div class="col-12">
        <p>Look at all these books you've added to Book Nest!</p>
      </div>
      {{#each sharedBooks as |book|}}

        {{! for each card, present it using this bootstrap card format }}
        <div class="col-12 col-md-4 col-lg-3 my-3">
          <a href="/books/{{book.id}}" class="book-link">
            <div class="card h-100 w-100 custom-card-border">
              <div class="card-header">
                <h5>
                  <i class="bi bi-book icon-purple"></i>
                  {{book.title}}
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Author:
                  <span class="normal-weight">
                    {{book.author}}
                  </span>
                </li>
                <li class="list-group-item">
                  Publication Date:
                  <span class="normal-weight">
                    {{book.publication_year}}
                  </span>
                </li>
                <li class="list-group-item">
                  Genre:
                  <span class="normal-weight">
                    {{book.genre.genre_title}}
                  </span>
                </li>
                <li class="list-group-item tiny-text">
                  <span class="normal-weight">Added by</span>
                  {{book.user.username}}
                  <span class="normal-weight"> on </span>
                  {{format_date book.date_shared}}
                </li>
              </ul>
            </div>
          </a>
        </div>

      {{/each}}
    {{else}}
      <div class="col-12 col-md-auto transparent-white">
        <p class="mt-2">I haven't shared any books yet.</p>
      </div>
    {{/if}}
    <div class="row mt-3 mb-1 align-items-center">
      <div class="col-auto">
        <a
          type="button"
          class="btn btn-custom btn-block mt-2 mb-5 w-100"
          href="/share-book"
        >Share a book to Book Nest</a>
      </div>
    </div>
  </div>

</div>